.article {
    width: 31.5%;
}

.article__title {
    margin-top: 21px;
    margin-bottom: 10px;
    font-size: 16px;
}

.article__author {
    margin-bottom: 13px;
    font-style: normal;
    font-weight: bold;
    color: #979797;
}

.article__text {
    font-size: 14px;
    line-height: 1.78;
    margin-bottom: 15px;
}

.article__link {
    color: #f16522;
}


