.experience {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.experience__subtitle {
    margin-top: 83px;
    margin-bottom: 6px;
    font-size: 30px;
    color: rgb(61, 61, 61);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.experience__title {
    font-size: 50px;
}

.experience__text {
    margin-top: 18px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 2.143;
    text-align: left;
}

.experience__button {
    margin-top: 26px;
}
