.input-email {
    border-radius: 2px;
    width: 270px;
    height: 45px;
    background: url("logo-letter.png") no-repeat 228px center white;
    padding: 10px;
    font-size: 13px;
    border-style: none;
}

.input-email::-webkit-input-placeholder {
    color: rgba(61, 61, 61, 0.302);
}
