html, body {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Dosis', "Open Sans", Arial, sans-serif;
    color: #565656;
    font-size: 14px;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 1;
    margin: 0;
    padding: 0;

}
*, *:before, *:after {
    box-sizing: border-box;
}






