.banner {
    width: 50%;
}

.banner__subtitle {
    line-height: 0.9;
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.banner__title {
    font-size: 90px;
}

.banner__text {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 2.5;
    margin-top: 26px;
}
