.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:303px;
    width: 50%;
    border-collapse:collapse;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.service__img {
    margin-bottom: 24px;
}

.service__title {
    margin-bottom: -37px;
}

.service_width-one {
    width: 51.5%
}

.service_width-two {
    width: 48.5%;
}

.service_border-one {
    border-left: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.service_border-two {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.service_border-three {
    border-left: 1px solid gainsboro;
}

.service_border-four {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}


