.line::after {
    content: '';
    display: inline-block;
    background-color: #f16522;
}

.line_big-white::after {
    width: 75px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
}

.line_middle-red::after {
    width: 35px;
    height: 5px;
}

.line_small-red::after {
    width: 30px;
    height: 4px;
}
