.wrapper {
    position: relative;
    min-height: 1097px;
    background-image: url("header_top.png"), url("header_middle.png"), url("header_start.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, center, top;
    background-size: 50% 90%, cover, 100% 89.9%;
    border-bottom: 1px solid gainsboro;
    color: white;
}

.wrapper__arrow {
    position: absolute;
    left: 50%;
    bottom: 147px;
    margin-left: -40px;
}

.wrapper__banner {
    margin-top: 232px;
}
