.blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.blog__title-box {
    margin-top: 66px;
    margin-bottom: 51px;
    text-align: center;
}

.blog__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 4px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 19px;
}

.blog__text {
    font-size: 14px;
    line-height: 2.143;
    margin-top: 18px;
}

.blog__link-box {
    height: 205px;
    line-height: 178px;
}

.blog__link {
    font-size: 16px;
    font-family: "Dosis", sans-serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -17px;
}

.blog__link::before {
    content: '+';
    display: inline-block;
    font-size: 20px;
    padding-right: 8px;

}


