.footer {
    background: #e7eaed;
    height: 230px;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer__about-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 19px;
    margin-bottom: 17px;
}

.footer__about-text {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 19px;
}

.footer__about-text_color-size {
    font-size: 10px;
    text-transform: uppercase;
    color: #f16522;
}

.footer__item-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 18px;
}

.footer__item-text {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 12px;
}

.footer__input-email {
    margin-top: 3px;
}

.footer__item_position-one{
    margin-left: 40px;
}

.footer__item_position-two {
    margin-right: 80px;
}
