.button {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2.7px;
    line-height: 3.077;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(54, 54, 54);
    width: 214px;
    height: 56px;
    padding-left: 11px;
}
