.menu {
    width: 43%;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__link {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

